body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.color-cardboard {
  padding: 0 0 20px;
  overflow: hidden;
  cursor: pointer;
}

.color-card {
  float: left;

  width: 250px;
  height: 250px;

  margin-top: 20px;
  margin-left: 20px;

  background-color: #FFFFFF;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);

  position: relative;
  overflow: hidden;
}

.color-card__text {
  position: absolute;
  bottom: 0;

  width: 100%;
  box-sizing: border-box;

  padding: 10px;

  font-size: 16px;
  line-height: 1.4em;
}

.color-card__plus {
  width: 100px;
  height: 100px;

  position: absolute;
  left: 75px;
  top: 75px;

  font-size: 150px;
  line-height: 64px;
  font-weight: bold;
  text-align: center;

  color: black;
}

.color-card__text_bright {
  color: black;
}

.color-card__text_dark {
  color: white;
}

.color-card__generate {
  padding: 10px;
}

.color-card__generate h3 {
  margin: 0 0 0.75em;
}

.color-card__generate p {
  font-size: 11px;
  margin: 2px;
  clear: both;
}

.color-card__generate input {
  float: right;
}
