body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.color-card {
  float: left;

  width: 250px;
  height: 250px;

  margin-top: 20px;
  margin-left: 20px;

  background-color: #FFFFFF;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);

  position: relative;
  overflow: hidden;
}

.color-card__text {
  position: absolute;
  bottom: 0;

  width: 100%;
  box-sizing: border-box;

  padding: 10px;
  line-height: 1.25em;
}

.color-card__text_bright {
  color: black;
}

.color-card__text_dark {
  color: white;
}
